.links {
  margin-top: 80px;
  width: 400px;
  display: inline-flex;
  justify-content: space-between;
}

.link {
  height: 68px;
  width: 68px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-bottom: 10px;
  border-radius: 100%;
  color: #fff;
  /*box-shadow: 0 0 4px #445, 0 0 4px #445;*/
  transition: box-shadow 0.3s;
}

.logo {
  height: 46px;
  width: 46px;
}

.link:hover {
  box-shadow: 0 0 32px #445, 0 0 32px #445;
  transform: translateY(0) rotate(0deg);
}

@media only screen and (max-width: 900px) {

  .links {
    width: 340px;
  }

  .link {
    height: 64px;
    width: 64px;
  }

  .logo {
    height: 42px;
    width: 42px;
  }
}
