*{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;
	background-color: #1c1c1f;
	color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes anaglyph {
  0% {
    text-shadow: 3px 3px 0 red, -3px -3px 0 blue;
  }
  25% {
    text-shadow: 2px 2px 0 blue, -2px -2px 0 red;
  }
  50% {
    text-shadow: 3px 3px 0 red, -3px -3px 0 blue;
  }
  75% {
    text-shadow: 2px 2px 0 blue, -2px -2px 0 red;
  }
  100% {
    text-shadow: 3px 3px 0 red, -3px -3px 0 blue;
  }
}

.logo{
	border-left: 6px solid white;
	height: 100px;
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 10px; 
}

.title {
	transition: all .5s;
}


.logo:hover .title {
	animation: anaglyph 5s infinite;
}

.container{
	text-align: center;
}

.avatar{
	margin-top: 10px;
}

.avatar-image{
	width: 250px;
	height: 250px;
	border-radius: 2px;
}

.social{
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
}

.link{
	display: inline-block;
	padding: 5px;
	width: 100px;
	color: white;
	top: -3px;
	box-shadow: 1px 3px 0 black;
	position: relative;
	text-decoration: none;
}

.link:hover{	
	top: 0;
	right: -1px;
	box-shadow: none;
}

.description{
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	color: #f6f6f6;
}

@media only screen and (max-width: 600px) {
  .logo {
  	display: block;
    text-align: center;
    border-left: none;
    margin: 0;
  	margin-top: 50px;
  	padding: 0;
  }
  .title{
  	text-decoration: underline;
  }
  .avatar{
  	margin: 0;
  }
}

.footer{
	bottom: 0;
	position: fixed;
	font-size: 0.9rem;
	/*color: black;*/
	width: 100%;
	background-color: black;
	text-align: center;
	padding: 15px;
}

#yt{ background-color: #FF0000; }
#ds{ background-color: #7289da; }
#vk{ background-color: #597da3; }
#tw{ background-color: #00acee; }
#tg{ background-color: #039be5; }
#gh{ background-color: #0c0c0c; }